.DS_Store
node_modules/
npm-debug.log
.idea/
dump.rdb
.vscode/
public/*
static/dist
static/css/app.min.css
stats.js
*.orig
client/sass-import
dependencies.json
config/config.js
babel-temp/
*.nupkg
.tern-project
*.swp
*.zip
